fastapi
fastapi[standard]
uvicorn[standard]
pypdf
sentence-transformers
dotenv 

faiss-cpu
chromadb
langchain-community 
langchain-google-genai
langchain-text-splitters
langchain 
pandas
onnxruntime
langchain-chroma
langchain-huggingface
langchain-groq